*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Se cuadre el borde de la figura al ancho de la pantalla, sin importar el padding y margin*/
}


#contenido:first-child{
width: 100vw;
height: 33.33vh;
background-color: darkred;
display: flex;
justify-content: space-between;
}

.cubo{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    padding: 20px;
    line-height: 60px; /*Mueve el objeto dentro del contenido*/
    font-size: 60px;
    text-align: center;
}

#contenido:nth-child(2){
    width: 100vw;
    height: 33.33vh;
    background-color: darkred;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

#contenido:last-child{
width: 100vw;
height: 33.33vh;
background-color: darkred;
display: flex;
justify-content: flex-end;
align-items: end;
}